*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header > nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header > nav > ul > li{
   display: inline-block;
   margin-left: 20px;
   margin-top: 30px;
}
header > nav > ul {
    text-align: center;
    width: 50%;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: darkorange;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header #logo {
    width: 40%;
}
header #logo img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
main > article{
    width: 500px;
    width: 31%;
    float: left;
    margin: 1%;
}
main > article > figure > img{
    width: 400px;
    height: 400px;
}